.contenedor-tabla-descripcion-parcela {
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;   
    justify-content: space-between;
    background: rgb(241, 241, 241);
    border-radius: 10px;
}

.contenedor-imagen-parcela {
    width: 400px;
    height: auto;
    overflow: hidden;
}

.contenedor-imagen-parcela img {
    width: 400px;
    border-radius: 6px;

}