

.contenedor-parcela-seleccionada header {
    position: relative;
}
.contenedor-parcela-seleccionada header .boton-atras {
    opacity: 0.6;
    border: 1px solid gray;
    fill:rgb(108, 108, 108);
    width: 50px;
    height: 50px;
    position: absolute;
    top: -55px;
    left: 0;
}
.contenedor-parcela-seleccionada header h1 {
    padding: 0;
    margin-bottom: 0;
}
.contenedor-parcela-seleccionada header b {
 color:rgb(154, 3, 3)
}
.contenedor-parcela-seleccionada header h2 {
    color:rgb(133, 133, 133)

}
.contenedor-imagen-parcela-2 {
    width: 90%;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
    background: rgb(185, 184, 184);
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px ;
}

.contenedor-informe-estado {
    text-align: left;
}

.parcela-descripcion-titulo-dominio {
    color: rgb(0, 167, 0);
    font-size: 20pt;
}
.parcela-descripcion-titulo-vendido {
    color: rgba(255, 132, 0, 0.584);
    font-size: 20pt;
}
.parcela-descripcion-titulo-usurpado {
    color: rgba(255, 0, 0, 0.744);
    font-size: 20pt;
}
.parcela-descripcion-titulo-libre {
    color: rgba(4, 0, 254, 0.581);
    font-size: 20pt;
}

.contenedor-imagen-parcela-google {
    width: 50%;
    overflow: hidden;
    border-radius: 10px;
}
.contenedor-imagen-parcela-google img {
    width: 100%;
}
.contenedor-info-google {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}